@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
  --clr: #2DD4BF;
  --j: black;
}
body{
  background: gray;
}
.inputs{
  background: var(--clr);
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
}
.buttons{
  background: #F472B6;
  padding-top: 15px;
  padding-left: 7px;
  padding-right: 0px;
  border-radius: 10px;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: gray;
}
.container{
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border: none;
  border-radius: 15px;
}
button{
  height: 60px;
  cursor: pointer;
  width: 60px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-bottom: 15px;
  margin-right: 10px;
  background: yellow;
  color: black;
  font-weight: bold;
  font-family: Monospae;
  letter-spacing: 0.1rem;
  font-family: Times New Roman;
  transition: 0.3s;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
}
.operatorButton{
  background: #22D0EF;
  transition: 0.3s;
}
.equalButton{
  background: lime;
  font-size: 25px;
  transition: 0.5s;
  width: 135px;
}
button:hover{
  transform: Scale(115%);
  transition: 0.3s;
}
input{
  width: 100%;
  background: var(--clr);
  color: var(--j);
  border-radius: 5px;
  pointer-events: none;
  height: 30px;
  font-family: 'Josefin Sans';
  margin-bottom: 5px;
  position: relative;
  right: 3px;
  font-size: 40px;
  border: none;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 20px;
  max-width: 280px;
}
#result{
  margin-bottom: 10px;
}
#display{
  padding-top: 20px;
  padding-bottom: 20px;
}
button:active{
  opacity: 90%;
  transition: none;
}
.home{
  width: 40px;
  height: 40px;
  position: relative;
  left: 0px;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  background: #DC2626;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  border: solid 1px black;
  margin-top: 5px;
  margin-left: 5px;
}
.home:hover{
  border-radius: 12px;
}
.home:active{
  border-radius: 15px;
}