@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
  --clr: #C2A01C;
  --j: black;
  --body:  #A1662F;
  --container: #756730;
  --opB: #655410;
  --opE: #4A3D0B;
  --opA: #88721E;
  --bg: black;
}
.dark{
  --clr: #18181B;
  --j: white;
  --body:  #111827;
  --container: #374151;
  --opB: #2C2C2C;
  --opE: #252525;
  --opA: #434343;
  --bg: white;
}
body{
  background: var(--body);
}
.inputs{
  background: var(--clr);
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 12px rgba(0,0,0,0.5);
}
.buttons{
  background: var(--clr);
  padding-top: 15px;
  padding-left: 7px;
  padding-right: 0px;
  border-radius: 10px;
  box-shadow: 0 15px 12px rgba(0,0,0,0.5);
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: var(--body);
  border-radius: 15px;
}
.container{
  box-shadow: 0 15px 12px rgba(0,0,0,0.5);
  background: var(--container);
  padding: 20px;
  border: none;
  border-radius: 15px;
}
button{
  height: 60px;
  cursor: pointer;
  width: 60px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-bottom: 15px;
  margin-right: 10px;
  background: var(--opA);
  color: white;
  font-weight: bold;
  font-family: Monospae;
  letter-spacing: 0.1rem;
  font-family: Times New Roman;
  transition: 0.3s;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
}
.operatorButton{
  background: var(--opB);
  transition: 0.3s;
}
.equalButton{
  background: var(--opE);
  font-size: 25px;
  transition: 0.5s;
  width: 135px;
}
button:hover{
  transform: Scale(115%);
  transition: 0.3s;
}
input{
  width: 100%;
  background: var(--clr);
  color: var(--j);
  border-radius: 5px;
  pointer-events: none;
  height: 30px;
  font-family: 'Josefin Sans';
  margin-bottom: 5px;
  position: relative;
  right: 3px;
  font-size: 40px;
  border: none;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 20px;
  max-width: 280px;
}
#result{
  margin-bottom: 10px;
}
#display{
  padding-top: 20px;
  padding-bottom: 20px;
}
button:active{
  opacity: 90%;
  transition: none;
}
.home{
  width: 40px;
  height: 40px;
  position: relative;
  left: 0px;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  background: #DC2626;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  border: solid 1px black;
  margin-top: 5px;
  margin-left: 5px;
}
.home:hover{
  border-radius: 12px;
}
.home:active{
  border-radius: 15px;
}
.changer{
  background: var(--bg);
  position: relative;
  left: 7px;
}